.rows {
  font-family: var(--vscode-editor-font-family);
  flex-grow: 1;
  overflow: auto;
}

.row {
  display: flex;
}

.row > div {
  padding: 2px 4px;
}

.duration,
.heading.timing {
  text-align: right;
  width: 110px;
}

.heading.timing {
  cursor: pointer;
}

.heading svg {
  display: inline-block;
  height: 1em;
  margin-right: 0.25em;
}

.duration {
  color: var(--vscode-terminal-ansiYellow);
  flex-shrink: 0;
}

.file {
  color: var(--vscode-terminal-foreground);
  white-space: nowrap;
}

.file.virtual {
  opacity: 0.5;
}

.file a {
  color: var(--vscode-terminal-foreground);
  text-decoration: underline;
  cursor: pointer;
}

.file a:hover {
  text-decoration: none;
}
