* {
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container.noData > * {
  display: none;
}

.noDataText {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

.container.noData .noDataText {
  display: flex;
}

@media (min-width: 600px) {
  .configOpen.container {
    flex-direction: row;
    align-items: stretch;
  }
}

.configOpen canvas {
  cursor: pointer;
}

.labelList {
  font-size: 11px;
  cursor: pointer;
  font-family: var(--font-family);
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.labelList > span > span {
  padding-left: 0.25em;
}

.labelList > span {
  display: inline-flex;
  align-items: center;
  margin: 0 4px;
  color: var(--sideBar-foreground, var(--vscode-foreground));
}

.labelList > span::before {
  content: '';
  width: 8px;
  height: 8px;
  margin-right: 4px;
  display: inline-block;
  border-radius: 100%;
  background: var(--metric-color);
}

.maxContainer {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, var(--vscode-sideBar-background), transparent);
  font-size: 0.8em;
}

.max {
  display: inline;
}

.max + .max::before {
  content: ' / ';
}

.timeLeft,
.timeRight {
  position: absolute;
  font-size: 11px;
  bottom: 2px;
}

.timeLeft {
  left: 0;
}

.timeRight {
  right: 0;
}
