* {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.body {
  position: relative;
  padding: 0 !important;
  color: var(--sideBar-foreground, var(--vscode-foreground));
  height: 100vh;
  user-select: none;
  overflow-x: hidden;
}
